<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8f020836b6.js"
      crossorigin="anonymous"
    ></script>
    <link href="Css/style.css" rel="stylesheet" />
    <title>Favorite Music</title>
  </head>
  <body>
    <h1>Blood Suger Tracker</h1>

    <div>
      <h2 class="sectD">Date</h2>
      <h2 class="sectT">Time</h2>
      <h2 class="sectB">Blood Glucose</h2>
      <!-- <h2 class="sectT">Trash</h2> -->
    </div>

    <ul class="Blood-Sugar-Log">
      <% for(let i=0;i < info.length;i++){%>
      <li class="Blood-Sugar-Data">
        <span class="Date"><%=info[i].BGDate %></span>
        <span class="Time"><%= info[i].BGTime %></span>
        <span class="Blood-Sugar"><%= info[i].BGSugar %></span>
        <!-- <span class="fa fa-thumbs-up"></span> -->
        <!-- <span class="fa-solid fa-thumbs-down"></span> -->
        <span class="fa fa-trash"></span>
      </li>
      <%}%>
    </ul>
    <section>
      <h2>Add Your Blood Sugar</h2>
      <form action="/addBG" method="POST">
        <input type="date" placeholder="dd-mm-yyyy" name="BGDate" />
        <input type="time" placeholder="Time" name="BGTime" />
        <input type="text" placeholder="Blood-Sugar" name="BGSugar" />
        <input type="submit" />
      </form>
    </section>

    <script src="js/main.js"></script>
  </body>
</html>
