* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Figtree', sans-serif;
  
}
body{
  background-image: url('../Css/Assets/abstract-background-design-emerald-green_53876-43540.webp');
  

}

.mainS{
  width:75%;
  /* border: 1px solid black; */
  position: relative;
  left: 10%;
  background-color: white;
  margin-bottom: 1%;
  border:12px solid gray;
  margin-top: 2%;
}
.hidden{
  visibility: hidden;
}
h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  color: palegreen;
}
div {
  width:100%;
  display: flex;
  border-bottom: 1px solid black;
}

.data-Title{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  
}

.data-Added{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  
}
.data-Num{
  border: unset;
  border-radius: 4px;
  width: 16%;
  min-height: 23px;
}
.submit{
  color: white;
    background-color: gray;
    border-radius: 4px;
    width: 9%;
    min-height: 24px;
    margin-left: 0.5%;
}
.form{
  display:flex;
  justify-content: start;
}
main{
   box-shadow: 5px 5px 15px

}

.sectB{
  margin-left: 12%;
}
.sectDE{
  margin-left: 64%;
}

li {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  text-align: left;
   border-bottom: 1px solid gray;
  list-style: square;
}

.fa-face-frown{
  color:red;
  position: absolute;
  left:86%;
}
.fa-face-meh{
  color:orange;
  position: absolute;
  left:86%;
}
/* .fa-check{
  color:green;
} */

span {
  width: 80px;
  margin-top: 1%;
}

.Date{
  width:14%;
  margin-left: 1%;
}

.Blood-Sugar{
margin-left: 5%;
}
.Blood-Sugarr{
  Font-family: 'Figtree', sans-serif;
  font-weight: 500;
}
.fa-face-smile{
  color:green;
  margin-left: 59%;
}
.fa-droplet:before {
    margin-right: 6%;
    color:red;
}



/* 
@media screen and (max-width: 580px) {
  h1 {
    font-size: 25px;
  }
  .sectB {
    font-size: 15px;
    margin-left: 15%;
  }
  .sectT {
    font-size: 15px;
    margin-right: 11%;
  }
  .sectD {
    font-size: 15px;
    margin-right: 19%;
  } */

  /* .fa-thumbs-up {
    margin-right: 37%;
  }
  .fa-thumbs-down {
    margin-left: -34%;
    margin-right: 20%; */
/* }
.Date {
  margin-left: 11%;
}
.Time {
  margin-left: 19%;
}

.Blood-Sugar {
  margin-left: 31%;
} */
/* .fa-thumbs-up {
    margin-right: 37%;
  }
  .fa-thumbs-down {
    margin-left: -34%;
    margin-right: 30%; */
/* } */
/* } */
/* @media only screen and (min-width: 680px) and (max-width: 1024px) {
  .sectA {
    margin-right: 15%;
  }
  .sectS {
    margin-right: 30%;
  }
  /* .Date {
    margin-left: 2%;
  }
  .Time {
    margin-left: 24%;
  }

  .Blood-Sugar {
    margin-left: 32%;
  } 

  .fa-thumbs-up {
    margin-right: 31%;
  }
  .fa-thumbs-down {
    margin-left: -33%;
    margin-right: 16%; */
  /* } */

