* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Figtree', sans-serif;
  
}
body{
  background-image: url('../Css/Assets/abstract-background-design-emerald-green_53876-43540.webp');
  

}

.mainS{
  width:75%;
  /* border: 1px solid black; */
  position: relative;
  left: 10%;
  background-color: white;
  margin-bottom: 1%;
  border:12px solid gray;
  margin-top: 2%;
}
.hidden{
  visibility: hidden;
}
h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  color: palegreen;
}
div {
  width:100%;
  display: flex;
  border-bottom: 1px solid black;
}

.data-Title{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  
}

.data-Added{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  
}
.data-Num{
  border: unset;
  border-radius: 4px;
  width: 16%;
  height: 23px;
}
.submit{
  color: white;
    background-color: gray;
    border-radius: 4px;
    width: 9%;
    height: 24px;
    margin-left: 0.5%;
}
.form{
  display:flex;
  justify-content: start;
}
main{
   box-shadow: 5px 5px 15px

}

.sectB{
  margin-left: 12%;
}
.sectDE{
  margin-left: 64%;
}

li {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  text-align: left;
   border-bottom: 1px solid gray;
  list-style: square;
}

.fa-face-frown{
  color:red;
  position: absolute;
  left:86%;
}
.fa-face-meh{
  color:orange;
  position: absolute;
  left:86%;
}
/* .fa-check{
  color:green;
} */

span {
  width: 80px;
  margin-top: 1%;
}

.Date{
  width:14%;
  margin-left: 1%;
}

.Blood-Sugar{
margin-left: 5%;
}
.Blood-Sugarr{
  Font-family: 'Figtree', sans-serif;
  font-weight: 500;
}
.fa-face-smile{
  color:green;
  margin-left: 59%;
}
.fa-droplet:before {
    margin-right: 6%;
    color:red;
}




@media screen and (max-width: 580px) {
  h1 {
    font-size: 25px;
  }
  .sectB {
  margin-left:14%
  }
  .sectDE {
    margin-left:59% 
  }
  .sectD,.sectDE,.sectB  {
    font-size: 7px; 
  }
  .Date{
    font-size: 6px;
    width: 75%;
    margin-left: 1%;
  
  }
.Blood-Sugarr {
  font-size: 7px;
}
.fa-droplet:before {
  margin-right: 6%;
  color: red;
  font-size: 6px;
}
.fa-solid, .fas, .fa {
  font-size: 6px;
}
.fa-face-smile {
  color: green;
  margin-left: 55%;
}
.fa-face-meh,.fa-face-frown {
  left: 85%;
}
.data-Title {
  
  font-size: 0.8em;
}
  .submit {
    width: 10%;
    height: 13px;
    font-size: 7px;
    margin-left: 0.5%;
  }
  .data-Num {
    width: 19%;
    height: 13px;
    font-size: 7px;
}
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .sectB {
    margin-left:11%
    }
    .sectDE {
      margin-left:67% 
    }
    .sectD{
      margin-left: 1%;
    }
    .sectD,.sectDE,.sectB  {
      font-size: 13px; 
    }

    .Date{
      font-size: 9px;
      width: 29%;
      margin-left: 1%;
    
    }
    .Blood-Sugarr {
      font-size: 9px;
      margin-left: 5%;
    }
    .fa-droplet:before {
      margin-right: 6%;
      color: red;
      font-size: 8px;
    }
    .fa-solid, .fas, .fa {
      font-size: 8px;
    }
    .fa-face-smile {
      color: green;
      margin-left: 67%;
    }
    .fa-face-meh,.fa-face-frown {
      left: 89.5%;
  }
  .data-Title {
    font-size: 1.1em;
  }
  .submit {
    width: 6%;
    height: 14px;
    font-size: 6px;
    margin-left: 0.5%;
  }
  .data-Num {
    width: 13%;
    height: 14px;
    font-size: 6px;
}
  }
  @media (min-width:1110px) and  (max-width: 3000px){
    .sectB {
      margin-left:10%
      }
    .sectDE {
      margin-left:69% 
    }
    .sectD{
      margin-left: 1%;
    }
    .Date{
      font-size: 14px;
      width: 24%;
      margin-left: 1%;
    }
    .Blood-Sugarr {
      font-size: 14px;
    }

    .sectD,.sectDE,.sectB  {
      font-size: 19px; 
    }
    .Date{
      font-size: 13px;
      width: 20%;
      margin-left: 1%;
    
    }

    .fa-droplet:before {
      margin-right: 6%;
      color: red;
      font-size: 13px;
    }
    .fa-solid, .fas, .fa {
      font-size: 13px;
    }
    .fa-face-smile {
      font-size: 13px;
      color: green;
      margin-left: 70%;
    }
    .fa-face-meh,.fa-face-frown {
      font-size: 13px;
      left: 91.5%;
    }
      .data-Title {
        font-size: 1.5em;
      }
      .submit {
        width: 7%;
        height: 22px;
        font-size: 11px;
        margin-left: 0.5%;
      }
      .data-Num {
        width: 16%;
        height: 21px;
        font-size: 11px;
    }
  }

