* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.hidden{
  visibility: hidden;
}
h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  color: palegreen;
}
div {
  display: flex;
  border-bottom: 1px solid black;
}
h2 {
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  justify-self: start;
  border: 1px, solid black;
}
.sectD {
  margin-left: 3%;
  margin-right: 30%;
}
.secT {
  margin-right: 25%;
}
.sectB {
  margin-left: 15%;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid black;
  list-style: square;
}

span {
  width: 80px;
  margin-top: 1%;
}
.Date {
  margin-left: -11%;
}
.Time {
  margin-left: 13%;
}

.Blood-Sugar {
  /* margin-left: 39%; */
  width: 2%;
}
/* .fa-thumbs-up {
  margin-right: 21%;
  width: 2%;
}
.fa-thumbs-down {
  margin-left: -22%;
  margin-right: 5%;
  width: 2%; */
/* } */
section {
  margin-top: 2%;
}
/* 
@media screen and (max-width: 580px) {
  h1 {
    font-size: 25px;
  }
  .sectB {
    font-size: 15px;
    margin-left: 15%;
  }
  .sectT {
    font-size: 15px;
    margin-right: 11%;
  }
  .sectD {
    font-size: 15px;
    margin-right: 19%;
  } */

  /* .fa-thumbs-up {
    margin-right: 37%;
  }
  .fa-thumbs-down {
    margin-left: -34%;
    margin-right: 20%; */
/* }
.Date {
  margin-left: 11%;
}
.Time {
  margin-left: 19%;
}

.Blood-Sugar {
  margin-left: 31%;
} */
/* .fa-thumbs-up {
    margin-right: 37%;
  }
  .fa-thumbs-down {
    margin-left: -34%;
    margin-right: 30%; */
/* } */
/* } */
/* @media only screen and (min-width: 680px) and (max-width: 1024px) {
  .sectA {
    margin-right: 15%;
  }
  .sectS {
    margin-right: 30%;
  }
  /* .Date {
    margin-left: 2%;
  }
  .Time {
    margin-left: 24%;
  }

  .Blood-Sugar {
    margin-left: 32%;
  } 

  .fa-thumbs-up {
    margin-right: 31%;
  }
  .fa-thumbs-down {
    margin-left: -33%;
    margin-right: 16%; */
  /* } */

